.buttons-panel
  - if admin_signed_in?
    .right-button
      = link_to 'Додати новий продукт', new_product_path, { class: 'btn btn-primary' }

.folders-mode
  .row
    - @products.each do |product|
      .col-md-6.col-xs-12.collection
        %a{href: "/products/#{product.id}"}
          .landidng-product
            - if product.images.count > 0
              %img{src: "#{product.images.first.file.url}"}
            - else
              %img{src: "https://placeholdit.imgix.net/~text?txtsize=80&txt=empty&w=850&h=550"}
            %span.name
              = product.name


